.lost-form {
    padding: 20px;
    margin: 0%;
    display: block;
    width: 100%;
}

.lost-form .wrapper {
    margin: 2rem 0;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#postButton {
    top: 15px;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-white-dirty);
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    font-size: 1rem;
}

#postButton:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white-dark);
}
